#header{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
#header button{
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: 600;
}
#header button:hover{
    transform: scale(1.06);
    
}
#breadcrumb{
    margin: 10px;
    border: 1px solid red;
    display: flex;
}
#breadcrumb a{
    background-color: lightgray;
    border-right: 3px solid black;
    padding: 10px;
    cursor: pointer;
}
#breadcrumb a:hover{
    text-decoration: underline;
    background-color: white;
}
#container{
    margin: 10px;
    border: 1px solid blue;
    padding: 10px;
    display: flex;
}
.folder{
    background-color: lightpink;
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.folder div[purpose=name]{
    margin-top: 60px;
}
.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}
.folder [action]:hover{
    color:blue
} 
.text-file{
    background-color: rgb(243, 243, 107);
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.text-file div[purpose=name]{
    margin-top: 60px;
}
.text-file [action]{
    text-decoration: underline;
    cursor: pointer;
}
.text-file [action]:hover{
    color:blue
} 
#app{
    margin: 10px;
    border: 1px solid green;
    height: 100px;
}
#app-title-bar{
    display: flex;
    background-color: lightblue;
    height: 30px;
    font-size: 25px;
    font-weight: 700;
}
#app-title{
    text-align: center;
    width: 93.5%;
    border-right: 5px solid red;
}
#app-menu-bar{
    display: flex;
    background-color: teal;
    height: 40px;
}
#app-body{
    display: flex;
    background-color: bisque;
    height: 500px;
}
.notepad-body{
    height: 100%;
    width: 100%;
}
.notepad-body textarea{
    height: 100%;
    width: 100%;
}
.notepad-menu{
    border: 1px solid white;
    width: 100%;
    padding: 5px;
}
.notepad-menu * {
    margin: 0px 5px;
    cursor: pointer;
    padding: 2px;
    vertical-align: bottom;
    border: 2px solid white;
    border-radius: 5px;
}
.notepad-menu span {
    background-color: transparent;
}
.notepad-menu span:hover{
    border: 2px solid black;
    color: teal;
    background-color: white;
}
.notepad-menu [pressed=true]{
    border: 2px solid black;
    color: teal;
    background-color: white;
}
.notepad-menu input[type=color]{
    width: 30px;
    height: 30px
}
.notepad-menu select{
    height: 30px;
}
a[purpose=download]{
    display: none;
}
input[action=upload]{
    display: none;
}

#win-actions span{
    cursor: pointer;
}
#win-actions span:hover{
    color:blue;
}

/* album */

.album{
    background-color: lightseagreen;
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.album div[purpose=name]{
    margin-top: 60px;
}
.album [action]{
    text-decoration: underline;
    cursor: pointer;
}
.album [action]:hover{
    color:blue
} 
.notepad-menu{
    border: 1px solid white;
    width: 100%;
    padding: 5px;
}
.album-menu * {
    margin: 0px 5px;
    cursor: pointer;
    margin-top: 4px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 5px;
}
.album-menu span {
    
    background-color: transparent;
}
.album-menu span:hover{
    border: 2px solid black;
    color: teal;
    background-color: white;
}
.picture-list{
    border: 1px solid black;
    height: 100px;
    margin: 5px;
    padding: 5px;
    display: flex;
}
.picture-list img{
    margin: 5px;
    height: 90%;
    border: 2px solid purple;
    border-radius: 5px;
    cursor: pointer;
}
.picture-list img:hover{
    transform: scale(1.1);
    border: 2px solid red;
}
c
.picture-view{
    border: 1px solid black;
    height: 350px;
    margin: 5px;
    padding: 5px;
    display: flex;
}
.album-body{
    height: 100%;
    width: 100%;
    padding: 5px;
}
.picture-view > div{
    height: 100%;
}
.picture-view .move-left{
    width: 15%;
    vertical-align: middle;
}
.picture-view .picture-main img{
    height: 90%;
}
.picture-view .move-right{
    width: 15%;
}
.picture-view .picture-main{
    width: 70%;
    padding: 5px;
    display: flex;
}